# Ignorar módulos e cache local
node_modules
.angular
dist
.git
.gitignore

# Ignorar logs e arquivos de debug
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignorar IDEs e configurações locais
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
